<h2>My Blog</h2>
<p data-ng-show="!auth.loggedIn">
  <a href="#/login">Log in</a> to blog.
</p>

<p>Users with different permissions can perform different actions, i.e.:
  edit/delete posts, create new post and administer the blog.</p>

<p>
    <span style="font-weight: bold">Follow <a href="https://twitter.com/appmux">@appmux</a> on twitter</span> to receive updates about <a href="https://twitter.com/search?q=%23adhesivejs">#adhesivejs</a>.
    <span data-require-access="update">Edit</span>
    <span data-require-access="delete">Delete</span>
</p>
<a href="#/blog/post" data-require-access="create">Create new post</a>
<span data-require-access="admin"> | <a href="#/blog/admin">Administer Blog</a></span>
