<h2 data-page-title>Home Page (#/)</h2>

<p>This is a demonstration of the adhesive.js framework that delivers
  essential components for integration of AngilarJS with the real world.</p>

<p>Make sure to look into the source code for comments and tutorial, it explains how the project
  is structured and how the whole application works.</p>

<p>adhesive.js created with developers in mind, it's completely open
  for any kind of customizations via different patterns, starting with
  simple configuration to implementation of custom strategies.</p>

<p>Only index module loaded at this point. Click around and see how other
  modules are being auto-loaded on the fly.</p>