<h2 data-page-title>Home Page (#/)</h2>

<p>This is a demonstration of the adhesive.js framework that delivers
  essential components for integration of AngilarJS with the real world.</p>
  
<p>Make sure to look into the source of this plunk, it explains how the project
  is structured and how the whole application works.</p>
  
<p>The framework is proven to work with multiple large-scale
  mission-critical applications over 6 months before it was release to public,
  lived through several AngularJS version upgrades since 1.9.3 and demonstrated
  scalability, great performance and high reliability.</p>
  
<p>adhesive.js created with developers in mind, it's completely open
  for any kind of customizations via different patterns, starting with
  simple configuration to implementation of custom strategies.</p>

<p>Only index module loaded at this point. Click around and see how other
  modules are being auto-loaded on the fly.</p>